.headerContainer {
    background-color: white;
    padding:10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-bottom: lightgrey;
    font-family: Roboto;
    font-size: 20px;
}

.centralContainer {
    width:100%;
    max-width: 1024px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.logoContainer{
    width:50px;
    margin-right: 10px;
}

.logoContainer img{
    width:100%;
}

.userContainer {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: center;*/
    align-items: center;
}

.avatarImg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.avatarText {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}


@media all and (max-width: 1024px) {
    .headerContainer {
        padding:10px 20px;
    }
}
